/* CSS files add styling rules to your content

body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
  }
 */
/* #game-grid {
  height: 200px;
  width: 200px;
} */

/* .container {
  width: 50px;
  height: 50px;
} */

/* #tile0, #tile1, #tile2, #tile3, #tile4, #tile5, #tile6, #tile7, #tile8 {
  height: 100px;
  width: 100px;
} */
 /* #app {
  display: grid;
 }

 #title {
  font-family: monospace;
  font-size: ;

 }
*/
 /* #gameGrid {
  display: block;

 }  */