

body {
  font-family: monospace;
  /* font-size: larger; */
}

#app {
  margin: 20px;
  justify-content: center;
  /* gap: 10px; */
} 

#restart-btn {
  border-radius: 12px;
  width: 100px;
  margin: 20px;
}


.square {
  width: 100px;
  height: 100px;
  font-size: 24px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.container {
  flex-shrink: 3;
  width: 300px;
}