/* CSS files add styling rules to your content

body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
  }
 */

body {
  font-family: monospace;
  font-size: larger;
}

 /* #app {
  display: grid;
 }

 #title {
  font-family: monospace;
  font-size: ;

 }

 #gameGrid {


 } */