/* CSS files add styling rules to your content

body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
  }
 */

body {
  font-family: monospace;
  /* font-size: larger; */
}

/* #game-grid {
  height: 200px;
  width: 200px;
} */

/* .container {
  width: 50px;
  height: 50px;
} */

/* #tile0, #tile1, #tile2, #tile3, #tile4, #tile5, #tile6, #tile7, #tile8 {
  height: 100px;
  width: 100px;
} */
 /* #app {
  display: grid;
 }

 #title {
  font-family: monospace;
  font-size: ;

 }
*/
 /* #gameGrid {
  display: block;

 }  */

 

#app {
  margin: 20px;
  /* gap: 10px; */
} 



#restart-btn {
  border-radius: 12px;
  width: 100px;
}

.grid-item {
  border: 1px solid purple;
  padding: 10px;
  text-align: center;
} 

.square {
  width: 100px;
  height: 100px;
  font-size: 24px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.container {
  flex-shrink: 3;
}